.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	padding-bottom: 2rem;
	&__heading {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		// @include respond (phone) {
		// 	padding-bottom: 2rem;
		// }
		&-main {
			display: flex;
			justify-content: center;
			h1 {
				font-family: var(--main-font);
				font-size: 7.5rem;
				color: var(--paste);
				text-align: center;
				@include respond (mini-tab) {
					font-size: 6rem;
				}
				@include respond (phone) {
					font-size: 4rem;
					padding: 0 3rem;
				}
				@include respond (px-440) {
					font-size: 3.5rem;
					padding: 0 2rem;
				}
			}
		}
		&-sub {
			display: flex;
			justify-content: center;
			padding-left: 3rem;
			padding-right: 3rem;
			text-align: center;
			h3 {
				font-family: var(--main-font);
				font-size: 2.4rem;
				color: var(--white);
				@include respond (mini-tab) {
					font-size: 2rem;
				}
				@include respond (px-440) {
					font-size: 1.8rem;
				}
			}
		}
		&-countdown {
			padding: 0 2rem;
			&-box {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 2rem;
			}
			&-starts {
				display: flex;
				flex-direction: column;
				align-items: center;
				#days,#hours, #minutes, #seconds {
					font-family: var(--main-font);
					font-size: 2.8rem;
					color: var(--paste);
					background-color: rgba(0,0,0,.5);
					width: 7rem;
					height: 7rem;
					border-radius: 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			&-time {
				font-family: var(--secondary-font);
				font-size: 1.2rem;
				text-transform: uppercase;
				font-weight: 400;
				color: var(--white);
				padding-top: 1rem;
			}
		}
	}
	&__middle {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url(../img/become-an-citizen-bg.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 50rem;
		height: 10rem;
		margin: 0 auto;
		padding: 0 3rem;
		@include respond (phone) {
			background-size: cover;
			width: 28rem;
			height: 7rem;
			padding: 1rem;
		}
		&-headline {
			padding: 1rem 5rem;
			@include respond (phone) {
				padding: 2rem;
			}
			&:hover h2 span {
				color: var(--white);
				transition: .3s all;
			}
			h2 {
				font-family: var(--secondary-font);
				font-size: 2.8rem;
				font-weight: 400;
				text-align: center;
				color: var(--white);
				@include respond(phone) {
					font-size: 2.6rem;
				}
				span {
					color: var(--paste);
					font-weight: 500;
					transition: .3s all;
				}
			}
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		@include respond(phone) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem; 
		}
		&-left {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 35rem;
			height: 10rem;
			background-image: url(../img/trailer-bg.png);
			background-repeat: no-repeat;
			background-position: left;
			background-size: contain;
			@include respond (phone) {
				background-size: cover;
				width: 28rem;
				height: 7rem;
			}
			&:hover h2 span {
				color: var(--paste);
				transition: .3s all;
			}
			&-link {
				padding: 2rem 5rem;
				@include respond (phone) {
					padding: 2rem;
				}
				h2 {
					color: var(--white);
					font-size: 2.6rem;
					font-weight: 400;
					span {
						font-weight: 500;
						transition: .3s all;
					}
					i {
						color: var(--paste);
					}
				}
			}
		}
		&-right {
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: url(../img/white-paper-bg.png);
			background-repeat: no-repeat;
			background-position: right;
			background-size: contain;
			width: 35rem;
			height: 10rem;
			@include respond (phone) {
				background-size: cover;
				width: 28rem;
				height: 7rem;
			}
			&:hover h2 span {
				color: var(--paste);
				transition: .3s all;
			}
			&-link {
				padding: 3rem 5rem;
				@include respond (phone) {
					padding: 2rem;
				}
				h2 {
					color: var(--white);
					font-size: 2.6rem;
					font-weight: 400;
					span {
						font-weight: 500;
						transition: .3s all;
					}
				}
			}
		}
	}
}